<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specifications</title>
</head>
<body>
    <ul>
        <div>
            <h1><%=listings_info.title%></h1>
            <li><h2>Price : &#8377;<%=listings_info.price.toLocaleString("en-in")%></h2></li>
            <li><h2>Description : <%=listings_info.description%></h2></li>
            <li><h2>location : <%=listings_info.location%></h2></li>
            <li><h2>Country : <%=listings_info.country%></h2></li>
        </div>
    </ul>
</body>
</html>