<% layout("./layouts/boilerplate")%>
<body>
    <div class="row mt-2">
        <div class="col-8 offset-2">
    <h3>Edit Your listing</h3>
    <form method="post" action="/listings/<%=listings.id%>?_method=PATCH">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input value="<%=listings.title%>" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control"><%=listings.description%></textarea>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input value="<%=listings.price%>" name="price" type="number" class="form-control">
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">location</label>
            <input value="<%=listings.location%>" name="location" class="form-control">
        </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input value="<%=listings.country%>" name="country" class="form-control">
        </div>
        <button class="btn btn-dark add-btn">EDIT</button>
    </form>
    </div>
    </div>
</body>
