<%layout("./layouts/boilerplate")%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <div class="card col-8 offset-2" style="width: 18rem;">
                <h3>Listing Details</h3>
                <img src="<%=listings_info.image%>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text"><b><%=listings_info.title%></b><br>
                    Price : &#8377;<%=listings_info.price.toLocaleString("en-in")%><br>
                    Description : <%=listings_info.description%><br>
                    location : <%=listings_info.location%><br>
                    Country : <%=listings_info.country%><br>
                    </p>
                </div>
            </div>
            <div class="btns mt-1">
                <div class="col-md-4">
                    <form method="get" action="/listings/<%=listings_info.id%>/edit">
                    <button class="btn btn-dark mt-3 offset-2 add-btn">Edit</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <form method="post" action="/listings/<%=listings_info.id%>?_method=DELETE">
                        <button class="btn btn-dark mt-3  offset-2 add-btn">Delete</button>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</body>